<div class="main-content" >
<div class="detail-section">
  <div class="container-fluid">

    <img src="{{product.imageUrl}}" class="detail-img">

    <h3>{{product.name}}</h3>
    <div class="price">{{product.unitPrice | currency:'USD'}}</div>
    <button (click)="addToCart()" class="btn btn-primary btn-sm">Add to cart</button>    <hr>
    <h4>Description</h4>
    <p> {{product.description}}</p>
    <ngb-rating [(rate)]="currentRate">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
      </ng-template>
    </ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
    <a routerLink="/products" class="mt-5"> Back to Product list</a>
  </div>
</div>
</div>
