<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
<div class="col-md-4">
  <h2>PayU Payment Form</h2>
  <form ngNoForm action="https://sandboxsecure.payu.in/_payment" name="payuform" method="POST" target="payment_popup"  onsubmit="window.open('about:blank','payment_popup','width=900,height=500');">
    <div class="form-group">
      <label for="orderId">Order Id:</label>
      <input type="text" class="form-control" id="orderId" name="orderId" readonly="true" [(ngModel)]="paymentPayload.orderId">
    </div>

    <div class="form-group">
      <label for="productinfo">Product Info:</label>
      <input type="text" class="form-control" id="productinfo" name="productinfo" [(ngModel)]="payuform.productinfo">
    </div>
    <div class="form-group">
      <label for="firstname">Name:</label>
      <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="paymentPayload.name">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="paymentPayload.emailId">
    </div>
    <div class="form-group">
      <label for="email">Phone:</label>
      <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="payuform.phone">
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="number" class="form-control" id="amount" readonly="true" name="amount" [(ngModel)]="paymentPayload.amount">
    </div>
    <textarea name="surl" id="surl" ng-model="surl" rows="2" cols="2" hidden [(ngModel)]="payuform.surl"></textarea>
    <textarea name="furl" id="furl" ng-model="furl" rows="2" cols="2" hidden [(ngModel)]="payuform.furl"></textarea>
    <textarea name="key" id="key" ng-model="key" rows="2" cols="2" hidden [(ngModel)]="payuform.key"></textarea>
    <textarea name="hash" id="hash" ng-model="hash" rows="2" cols="2" hidden [(ngModel)]="payuform.hash"></textarea>
    <textarea name="txnid" id="txnid" ng-model="txnid" rows="2" cols="2" hidden [(ngModel)]="payuform.txnid"></textarea>
    <textarea name="service_provider" id="service_provider" ng-model="service_provider" rows="2" cols="2" hidden [(ngModel)]="payuform.service_provider"></textarea>
    <button *ngIf="disablePaymentButton" type="button"  class="btn btn-primary btn-lg btn-block" (click)="confirmPayment()">Confirm</button>
    <button *ngIf="!disablePaymentButton" type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>
</div>
</div>
</div>
