<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
<form>
  <div class="form-group form-inline">
      Full text search: <input class="form-control ml-2" type="text" name="searchTerm"
       [(ngModel)]="service.searchTerm"/>
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="orderId" (sort)="onSort($event)">Order ID</th>
      <th scope="col" sortable="orderDate" (sort)="onSort($event)">Order Date</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Order Item</th>
      <th scope="col" sortable="unitPrice" (sort)="onSort($event)">Amount</th>
      <th scope="col" sortable="orderPaymentStatus" (sort)="onSort($event)">PaymentStatus</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let orderItem of orderItems$ | async;  index as i">
      <th scope="row">{{ i }}</th>
      <td>
          <ngb-highlight [result]="orderItem.orderId" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="orderItem.orderDate | date" [term]="service.searchTerm"></ngb-highlight></td>

      <td><ngb-highlight [result]="orderItem.name" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="orderItem.unitPrice| currency:'USD' " [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="orderItem.orderPaymentStatus" [term]="service.searchTerm"></ngb-highlight></td>

    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

</form>
</div>
</div>
</div>
