<div class="page-wrapper">
  <div class="page-container">
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-auto-completge></app-auto-completge>
            </div>
            </div>
            </div>
            </header>


    <div class="main-content">
      <div class="section-content section-content-p30">

    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>

            <a routerLink="/register" class="btn btn-link">Register</a>
        </div>
    </form>
    </div>
    </div>
    </div>
  </div>

  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
      </a>
    </div>

    <app-product-category-menu></app-product-category-menu>

  </aside>


